<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">

	<!-- Define event bus for use with GuavaPropertyChangedEventNotifier -->
	<bean class="com.google.common.eventbus.EventBus" id="propertiesEventBus" />

	<bean class="com.morgan.design.properties.conversion.DefaultPropertyConversionService" id="conversionService" />

	<bean class="com.morgan.design.properties.internal.GuavaPropertyChangedEventNotifier" autowire="constructor" id="eventNotifier">
		<constructor-arg ref="propertiesEventBus" />
	</bean>

	<bean class="com.morgan.design.properties.internal.SubstitutingPropertyResolver" id="propertyResolver" />

	<bean class="com.morgan.design.properties.internal.ReloadablePropertyPostProcessor">
		<constructor-arg ref="propertyConfigurator" />
		<constructor-arg ref="eventNotifier" />
		<constructor-arg ref="conversionService" />
	</bean>

	<bean id="readablePlaceholder" class="com.morgan.design.properties.internal.ReadablePropertySourcesPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="false" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath*:META-INF/*.properties</value>
				<value>classpath:test.properties</value>
				<value>file:${CONFIG_DIR}/global.properties</value>
			</list>
		</property>
	</bean>

</beans>