<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- Define event bus for use with GuavaPropertyChangedEventNotifier -->
	<bean class="com.google.common.eventbus.EventBus" id="propertiesEventBus" />

	<bean
		class="com.morgan.design.properties.conversion.DefaultPropertyConversionService"
		id="conversionService" />

	<!-- register property editors for date and other types -->
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="propertyEditorRegistrars">
			<array>
				<ref bean="customEditorRegistrar"/>
			</array>
		</property>
	</bean>
	
	<!-- bean that helps to add as many editors as we require -->
	<bean id="customEditorRegistrar" class="com.morgan.design.properties.conversion.CustomEditorsRegistrar">
		<constructor-arg>
			<map>
				<entry key="java.util.Date" value-ref="dateEditor"/>
			</map>
		</constructor-arg>
	</bean>
	
	<!-- spring's default date property editor -->
	<bean id="dateEditor"
   		class="org.springframework.beans.propertyeditors.CustomDateEditor">
		<constructor-arg>
			<bean class="java.text.SimpleDateFormat">
				<constructor-arg value="dd-MM-yyyy" />
			</bean>
		</constructor-arg>
		<constructor-arg value="true" />
	</bean>
	
	<bean
		class="com.morgan.design.properties.event.GuavaPropertyChangedEventNotifier"
		autowire="constructor" id="eventNotifier">
		<constructor-arg ref="propertiesEventBus" />
	</bean>

	<bean
		class="com.morgan.design.properties.resolver.SubstitutingPropertyResolver"
		id="propertyResolver" />

</beans>
